<h1>Eat-Da-Burger</h1>


<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{!-- {{> devoured=true}} --}}
    {{/unless}}
  {{/each}}
</ul>



<ul>
  {{#each cats}}
    {{#if devoured}}
      {{!-- {{> devoured=false}} --}}
    {{/if}}
  {{/each}}
</ul>